

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
  }

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px 10px;
  background-color: white;
  border-bottom: 0.5px solid #b3c6b1;
  text-align: left;
}

.information {
  color: #169722;
}