


/* #root {
  border: 3px dotted black;
} */

.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.header {
  color: #169722;
  font-family: 'Orbitron', sans-serif;
  background-color:black;
  margin: none;
  height: 10rem;
  display: flex;
  align-items: center;
  text-align: center;
}

h1 {
  padding-left: 3rem;
  font-size: 3rem;
}

main {
  /* border: 2px solid blue; */
  height: 50%;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  color: #169722;
  background-color:black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.searchbar {
  width: 100%;
  border: 2px solid green;
}